@import "tailwindcss";

@font-face {
  font-family: "Nimbus Sans";
  font-weight: 400;
  src:
    local("Nimbus Sans"),
    url("./fonts/NimbusSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Nimbus Sans";
  font-weight: 700;
  src:
    local("Nimbus Sans Bold"),
    url("./fonts/NimbusSans-Bold.otf") format("opentype");
}

@theme {
  --font-sans: "Nimbus Sans", sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
    font-weight: bold;
  }

  h2 {
    font-size: var(--text-xl);
    font-weight: bold;
  }
}
