@import "tailwindcss";

@theme {
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  /* 860px / 16 */
  --breakpoint-md2: 53.75rem;
  --breakpoint-6xl: 72rem;
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
    font-weight: bold;
  }

  h2 {
    font-size: var(--text-xl);
    font-weight: bold;
  }
}
